// Define variables for your color scheme

// For example:
// For example:
$red: #cf0000;
$blue: #167FFB;
$yellow: #fdca40;
$orange: #E67E22;
$green: #438a5e;
$gray: #0E0000;
$dark-gray: #393e46;
$light-gray: #F4F4F4;

// $black: #212821;
// $light-gray: #F3EBDE;
// $red: #FF3100;
// $coral: #FBAE87;
// $teal: #005563
// $yellow: #F6F102;
// $blue: #7693B6;
