<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
 <div class="logo hvr-icon-grow-rotate"><i class="fas fa-pepper-hot hvr-icon"></i></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:be94d9d5-87f5-45d7-a432-bf9e2c8efa37" class="resume btn btn-primary">Resume</a>
      </li>
    </ul>
  </div>
</div>
