.footer-links {
  width:40px;
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
  padding-left: 12px;
  a {
    font-size: 24px;
    margin-top: 6px
  }
  .line {
    width: 1px;
    height: 230px;
    border-left: 1px solid #005563;
    margin-left: 10px
  }
}
