.navbar-lewagon {
  justify-content: space-between;
  background: white;
  .fas {
    font-size: 2rem;
    margin-left: 40px;
  }
  padding: 24px;
  i { color: #005563;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.resume {
  margin-right: 40px;
}


